{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
    #flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    #facturacion{
        max-width: 440px;
        flex-grow: 2;
    }
    </style>
{% endblock %}


{% block content %}
    {% verbatim %}

        <div class="aside-order">
            <h1>Aqui se va a facturar...</h1>
            <ul>

                <li>
                    <div class="order-product">

                        <p><strong>product_name <span>$30.95</span></strong></p>
                        <p>3 Unidades a $10.00/Unidad</p>

                    </div>
                </li>

                <li>
                    <div class="order-product">

                        <p><strong>product_name <span>$30.95</span></strong></p>
                        <p>3 Unidades a $10.00/Unidad</p>

                    </div>
                </li>

                <li>
                    <div class="order-product">

                        <p><strong>product_name <span>$30.95</span></strong></p>
                        <p>3 Unidades a $10.00/Unidad</p>

                    </div>
                </li>

            </ul>

            </div>

        </div>

        <div class="aside-products" ng-controller="productController">
            <div class="" ng-repeat="product in products">
                <div class="product" ng-click="toOrder(product)">
                    <span class="p_price">{{ product.unit_price | currency }}</span>
                    <img src="//placeholder.it/65x65" alt="img_product" class="p_img">
                    <p class="p_name">{{ product.name }}</p>
                </div>
            </div>
        </div>

    {% endverbatim %}
{% endblock %}

{% block scripts %}

{#    <script src="{% static 'js/lib/orderService.js' %}"></script>#}
    <script src="{% static 'js/lib/productFactory.js' %}"></script>
    <script src="{% static 'js/lib/productController.js' %}"></script>
{#    <script src="{% static 'js/lib/orderController.js' %}"></script>#}
{% endblock %}