<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" ng-app="pdv">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>{% block title %}Coffe with Angular{% endblock %}</title>
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-resource.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <script src="{% static 'js/lib/app.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>